<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">
    <div class="content-wrapper" th:replace="~{fragments/brand :: brand}"></div>
    <hr class="sidebar-divider my-0">
    <div class="content-wrapper" th:replace="~{fragments/menu :: menu}"></div>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>