<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <link th:href=@{/vendor/bootstrap-table/bootstrap-table.min.css} rel="stylesheet" />
</head>

<body>
    <section class="container-fluid" layout:fragment="content">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Support Cases :: <span th:text="${status}">case_status</span></h1>
        </div>

        <table
        id="supportCaseTable"
        data-toggle="table"
        data-toolbar="#toolbar"
        data-pagination="true"
        data-sortable="true"
        data-classes="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th data-sortable="true">Case ID</th>
                    <th data-sortable="true">Account ID</th>
                    <th data-sortable="true">Created</th>
                    <th data-sortable="true">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="case : ${supportCases}">
                  <td th:text="${case.caseId}"></td>
                  <td th:text="${case.accountId}"></td>
                  <td th:text="${case.creationDate}"></td>
                  <td th:text="${case.status}"></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="d-none" layout:fragment="javascript">
        <script th:src=@{/vendor/bootstrap-table/bootstrap-table.min.js}></script>
        <script th:inline="javascript">
            function dateCellFormatter(value, row, index, field) {
                return new Date(value).toLocaleString();
            }

            $(document).ready(() => {
                // Rows in Support Cases are clickable through to the details page
                var uri = "/support/details?id=";
                $('#supportCaseTable').on('click-row.bs.table', rowClicked);

                function rowClicked(evt, row, $el, field) {
                    console.log("row", row);
                    console.log("field", field);
                    evt.preventDefault();
                    window.location.href = uri + row[0];
                }
            });
        </script>
    </section>
</body>

</html>
